.quote-form-container {
  padding: 20px;
  border-radius: 12px;
  color: white;
}

.quote-toggle-btn {
  background: #112a46;
  color: white;
  padding: 10px 16px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 20px;
}

.quote-toggle-btn:hover {
  opacity: 0.7;
  background-color: var(--product-action-bg-hover) !important;
}

.quote-form-wrapper {
  display: none;
  transition: max-height 0.3s ease-in-out;
}

.quote-form-wrapper.open {
  display: block;
}

.quote-form {
  background: transparent;
}

.quote-form h3 {
  font-size: 24px;
  font-weight: bold;
  color: #112a46;
}

.quote-form input,
.quote-form textarea {
  width: 100%;
  padding: 10px;
  margin: 6px 0 12px;
  border-radius: 4px;
  border: none;
  background: #ffffff;
}
.quote-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.quote-field {
  display: flex;
  flex-direction: column;
}

.quote-field input,
.quote-field select {
  width: 100%;
  height: 44px;
  padding: 8px 10px;
  font-size: 14px;
  box-sizing: border-box;
}



.submit-btn {
  background: #112a46;
  color: white;
  padding: 12px;
  border: none;
  width: 100%;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

button.submit-btn:hover {
    background: var(--product-action-bg-hover);
    color: var(--product-action-color-hover);
    border-color: var(--product-action-border-hover);
    box-shadow: var(--btn-3-horizontal-length) var(--btn-3-vertical-length) var(--btn-3-blur-radius) var(--btn-3-spread) var(--btn-3-all-bg-opacity-hover);
}

/* Mobile fallback */
@media (max-width: 640px) {
  .quote-row {
    grid-template-columns: 1fr;
  }
}